version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
      args:
        USER_UID: ${UID:-1000}
        USER_GID: ${GID:-1000}
    volumes:
      - .:/workspace:cached
    command: sleep infinity
    environment:
      - NODE_ENV=development
    user: '${UID:-1000}:${GID:-1000}'
    ports:
      - '5173:5173' # Vite (frontend)
      - '8080:8080' # Nodejs/express (api)

volumes:
  node_modules:
