.address {
  display: flex;
  border-bottom: 1px solid rgba(211, 211, 211, 0.6);
  padding: 5px;
  flex-direction: column;
  color: black;
  cursor: pointer;

  :hover {
    background-color: lightblue;
  }
}

.street {
  font-size: 105%;
}

.city {
  font-size: 85%;
  opacity: 80%;
}
