.address {
  width: 396px;
  display: flex;
  border: 1px solid rgba(211, 211, 211, 0.6);
  padding: 5px;
  flex-direction: column;
}

.street {
  font-size: 105%;
}

.city {
  font-size: 85%;
  opacity: 80%;
}
