#search-wrapper {
  display: flex;
  align-items: center;
}

#search-input {
  width: 500px;
  height: 64px;
  font-size: 1.6em;
  border: 2px solid whitesmoke;
  border-radius: 12px;
  outline: none;
  padding: 0 12px;
}

#search-input.valid-input {
  border: 2px solid green;
}

#input-wrapper {
  position: relative;
}

#search-clear {
  position: absolute;
  right: 5px;
  top: 18px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: rgba(211, 211, 211, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

#search-clear:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

#search-results {
  position: absolute;
  top: 70px;
  background-color: white;
  width: 508px;
  border-radius: 12px;
}

#error-messages {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
}
